/* TODO getting p to shrink as needed */

/* GLOBAL */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  padding: 0.75em 1.5em 0.75em 1.5em;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
}

section {
  min-height: 300px;
  padding: 3rem 13rem 3rem 13rem;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.nav-wrapper h2 {
  margin-top: 0;
}

.nav-wrapper ul {
  margin-top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  padding-left: 2em;
}

.nav-links:last-child {
  padding-right: 1em;
}

.nav-links a {
  text-decoration: none;
  color: #f9faf8;
}

.nav-links a:hover {
  color: #3882f6;
}

.nav-links li:hover {
  color: #3882f6;
  transform: scale(1.25);
}
/* HERO */
.hero {
  padding-top: 15px;
  background-color: #1f2937;
  color: #f9faf8;
}

.hero-copy {
  flex: 1 2 auto;
}

.hero-copy h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero img {
  min-height: 125px;
  min-width: 175px;
  background-color: gray;
  border-radius: 2px;
}

/* RANDOM-INFO */
.random-info h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

.random-info figure {
  display: flex;
  /* flex: 1 1 100px; */
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.random-info figcaption {
  text-align: center;
}

.random-info figure img {
  min-height: 100px;
  min-width: 100px;
  border: 3px solid #3882f6;
  border-radius: 5px;
}

/* QUOTE */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote blockquote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
/* CALL TO ACTION */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 55vw;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #3882f6;
  border-radius: 5px;
}

.text-wrapper {
  color: white;
}

.call-to-action button {
  border: 2px solid white;
}

/* FOOTER */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #1f2937;
  color: #f9faf8;
}

footer p {
  margin: 0;
  text-align: center;
}
