/* GLOBAL */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  padding: 0.75em 1.5em 0.75em 1.5em;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
}

section {
  min-height: 450px;
  padding: 3rem 13rem 3rem 13rem;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  /* background-color: #1f2937; */
  color: #f9faf8;
}

.nav-wrapper h2 {
  margin-top: 0;
  font-size: 55px;
}

.nav-wrapper ul {
  margin-top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.nav-links li {
  padding-left: 2em;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f9faf8;
}

.nav-links a:hover {
  color: #3882f6;
}

.nav-links li:hover {
  color: #3882f6;
  transform: scale(1.25);
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2e1c70 0%,
    #4d148a 29%,
    #ff1361 67%,
    #fff700 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* HERO */
.hero {
  padding-top: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    335deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(31, 41, 55, 1) 35%,
    rgb(18, 98, 113) 85%
  );
  color: #f9faf8;
}

.hero .flex-wrapper {
  gap: 5rem;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-copy h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 0;
  color: #f9faf8;
}

.hero img {
  min-width: 375px;
  width: 50%;
  height: auto;
  border-radius: 2px;
}

/* RANDOM-INFO */
.random-info {
  padding-top: 2rem;
}
.random-info h2 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

.random-info figure {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  margin: 0;
  min-height: 350px;
}

.random-info figcaption {
  text-align: center;
}

/* 
.img-wrapper {
  width: 200px;
  height: 400px;
  overflow: hidden;
} */

.random-info figure img {
  /* object-fit: contain; */
  min-width: 13vw;
  width: 50%;
  height: auto;
  border-radius: 5px;
}
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.75);
  border: none;
  box-shadow: 2px 2px 4px black;
}

/* QUOTE */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb77;
  /* background-image: url("/images/pickle/snoot.jpg");
  background-size: cover;
  opacity: 85%; */
}

.img-background {
  margin: 0;
  padding: 0;
  height: 500px;
  background-image: url("/images/pickle/snoot.jpg");
  background-size: cover;
  /* opacity: 50%; */
}

.quote blockquote {
  padding-top: 0;
  color: black;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

blockquote > p {
  text-align: right;
}

/* CALL TO ACTION */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 55vw;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #3d5880;
  border-radius: 5px;
}

.text-wrapper {
  color: white;
}

.call-to-action button {
  border: 2px solid white;
}

/* FOOTER */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #1f2937;
  color: #f9faf8;
}

footer p {
  margin: 0;
  text-align: center;
}
